{% extends 'base.html' %}
{% block title %}Review{% endblock %}
{% block content %}
<div class="spacer-big"></div>
<hr>
<div class="spacer-big"></div>

            <h4 class="align-center"><strong>Comments by VPs</strong></h4>

<div class="column-section boxed-spaced adapt-height vertical-center clearfix">
    <div class="column one-third testimonial">
        <div class="testimonial-content">
          {% for review in reviews %}
            <h4>{{ review.title }}
            <blockquote>{{ review.content }}</blockquote>
            <h5 class="testimonial-name">{{ review.review_by }}</h5>
            <h6 class="testimonial-meta subtitle-1">{{ review.review_by.department }}</h6>
            {% endfor %}}
        </div>
        <div class="testimonial-add">

          {% if perms.review.can_add_review %}
          <a href="{% url 'review:create_review' %}" class="btn btn-primary">Add Review</a>
            {% endif %}
        </div>
    </div>

</div> <!-- END .column-section -->
            <div class="spacer-big"></div>
<hr>
<div class="spacer-big"></div>





{% endblock %}
