{% extends 'base.html' %}
{% block title %}AW Documents{% endblock %}
{% block content %}
	    
    <!-- HERO  -->
    <section id="hero" class="hero-auto text-light" style="background:#1a1a1a;">
        
        <div id="page-title" class="wrapper align-center">
            <h1 class="uppercase"><strong>AIESEC way documents</strong></h1>
        </div> <!-- END #page-title -->
        
    </section>
    <!-- HERO -->
    
            
    <!-- PAGEBODY -->
    <section id="page-body">
        <a href="http://hub.myaiesec.in/upload/08bb-AIESEC%20Way%20in%20a%20Nutshell.pdf" class="sr-button button-full button-2">The AIESEC way in a nutshell<br><strong>See it here</strong></a>  
        <a href="http://hub.myaiesec.in/upload/7af1-AIESEC%20Way%20in%201%20Page.pdf" class="sr-button button-full button-2">The AIESEC way poster<br><strong>See it here</strong></a>  
        <a href="http://hub.myaiesec.in/upload/b67d-AIESEC%20Way%20Toolkit.pdf" class="sr-button button-full button-2">The AIESEC way toolkit<br><strong>See it here</strong></a>  
      
 	</section>
	<!-- PAGEBODY -->
    
          
   {% endblock %}