{% extends 'base.html' %}
{% block title %}Contact{% endblock %}
{% block content %}
    <!-- HERO  -->
    <section id="hero" class="hero-full parallax-section text-light" data-parallax-image="files/uploads/hero-about-1.jpg">
        
        <div id="page-title" class="wrapper align-center">
            <h1><strong>Get in<br><span class="colored">Touch.</span><br></strong></h1>
        </div> <!-- END #page-title -->
        <a href="#" id="scroll-down"></a>
            
    </section>
    <!-- HERO -->
    
            
    <!-- PAGEBODY -->
    <section id="page-body" class="notoppadding">
        
       <a href="https://drive.google.com/file/d/0BzTxMWJWtNBVX1N4cmVwTVN2M2M/view?usp=sharing" style="background-color:#2b807a; " class="sr-button button-full button-2">List of Contact details of all the Vice Presidents</a>  
        
    </section>
    <!-- PAGEBODY -->
    
  {% endblock %}