<!doctype html>
<html class="no-js" lang="en-US">
<head>

    <!-- DEFAULT META TAGS -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" />
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    
    <!-- FONTS -->
    <link href="http://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
    <link href="http://fonts.googleapis.com/css?family=Lato:300,400,700,900" rel="stylesheet" type="text/css">
	<link href="http://fonts.googleapis.com/css?family=Lora:400italic,700italic" rel="stylesheet" type="text/css">
    
    <!-- CSS -->
    <link rel="stylesheet" id="default-style-css"  href="files/css/style.css" type="text/css" media="all" />
    <link rel="stylesheet" id="fontawesome-style-css" href="files/css/font-awesome.min.css" type="text/css" media="all" />
    <link rel="stylesheet" id="ionic-icons-style-css" href="files/css/ionicons.css" type="text/css" media="all" />
    <link rel="stylesheet" id="mqueries-style-css"  href="files/css/mqueries.css" type="text/css" media="all" />
    
    <!-- FAVICON -->
    <link rel="shortcut icon" href="files/uploads/favicon.png"/>
    
    <!-- DOCUMENT TITLE -->
    <title>Dashboard</title>

</head>

<body>


<!-- PAGE CONTENT -->
<div id="page-content">

<!-- HEADER -->
    <header id="header" class="header-bordered header-transparent transparent-light">        
        <div class="header-inner clearfix">
            
            <!-- LOGO -->
            <div id="logo" class="left-float">
                <a href="index.html">
                    <img id="scroll-logo" src="files/uploads/logo-sudo-scroll.png" srcset="files/uploads/logo-sudo-scroll.png 1x, files/uploads/logo-sudo-scroll@2x.png 2x" alt="Logo Scroll">
                    <img id="dark-logo" src="files/uploads/logo-sudo-dark.png" srcset="files/uploads/logo-sudo-dark.png 1x, files/uploads/logo-sudo-dark@2x.png 2x" alt="Logo Dark">
                    <img id="light-logo" src="files/uploads/logo-sudo-light.png" srcset="files/uploads/logo-sudo-light.png 1x, files/uploads/logo-sudo-light@2x.png 2x" alt="Logo Light">
                </a>
            </div>
            
            <!-- MAIN NAVIGATION -->
            <div id="menu" class="right-float clearfix">
                <a href="#" class="responsive-nav-toggle"><span class="hamburger"></span></a>
                <div class="menu-inner">
                    <nav id="main-nav">
                        <ul>
                            <li class="menu-item-has-children mega-menu"><a href="#">Experience Partners</a>
                                <div class="mega-menu-content col-4">
                                    <div class="mega-menu-inner clearfix">
                                        <ul>
                                            <li class="mega-menu-title"><a href="#">Global Volunteer</a>
                                                <ul>
                                                    <li><a href="opportunities.html">Browse Opportunities</a></li>
                                                    <li><a href="#">Help</a></li>
<!--                                                     <li><a href="portfolio-grid-fullwidth.html">Grid</a></li>
                                                    <li><a href="portfolio-grid-fullwidth-spaced.html">Grid Spaced</a></li>
                                                    <li><a href="portfolio-masonry-fullwidth.html">Masonry</a></li>
                                                    <li><a href="portfolio-masonry-fullwidth-spaced.html">Masonry Spaced</a></li>
                                                    <li><a href="portfolio-carousel-fullwidth.html">Carousel</a></li>
                                                    <li><a href="portfolio-carousel-fullwidth-spaced.html">Carousel Spaced</a></li> -->
                                                </ul>
                                            </li>
                                            
                                            <li class="mega-menu-title"><a href="#">Global Talent</a>
                                                <ul>
                                                    <li><a href="projects.html">Browse Projects</a></li>
                                                    <li><a href="#">Guides</a></li>
                                                </ul>
                                            </li>
                                        </ul>
                                    </div> <!-- END .mega-menu-inner -->
                                </div> <!-- END .mega-menu-content -->
                            </li>
                             <li class="menu-item-has-children mega-menu"><a href="#">Members</a>
                                <div class="mega-menu-content col-4">
                                    <div class="mega-menu-inner clearfix">
                                        <ul>
                                            <li class="mega-menu-title"><a href="#">Access your account</a>
                                                <ul>
                                                    <li><a href="#">Login</a></li>
                                                    <li><a href="#">Sign Up</a></li>
<!--                                                     <li><a href="portfolio-grid-fullwidth.html">Grid</a></li>
                                                    <li><a href="portfolio-grid-fullwidth-spaced.html">Grid Spaced</a></li>
                                                    <li><a href="portfolio-masonry-fullwidth.html">Masonry</a></li>
                                                    <li><a href="portfolio-masonry-fullwidth-spaced.html">Masonry Spaced</a></li>
                                                    <li><a href="portfolio-carousel-fullwidth.html">Carousel</a></li>
                                                    <li><a href="portfolio-carousel-fullwidth-spaced.html">Carousel Spaced</a></li> -->
                                                </ul>
                                            </li>
                                            
                                            <li class="mega-menu-title"><a href="#">Access Resources</a>
                                                <ul>
                                                    <li><a href="portfolio-single-smartnav.html">Brand Guides</a></li>
                                                    <li><a href="portfolio-single-custom.html">Notices</a></li>
                                                </ul>
                                            </li>
                                        </ul>
                                    </div> <!-- END .mega-menu-inner -->
                                </div> <!-- END .mega-menu-content -->
                            </li>
                            
                            
                        </ul>
                    </nav>
                    
                    <div id="menu-misc" class="clearfix">    
                        
                        <!-- HEADER SEARCH -->
                        <div id="header-search">
                            <a href="#" id="show-search"><i class="fa fa-search"></i></a>
                            <div class="header-search-content">
                                <form action="http://www.spab-rice.com/themeforest/sudo/demo/search.html" method="get">
                                    <a href="#" id="close-search"></a>
                                    <input type="text" name="q" class="form-control" value="" placeholder="Enter your search ...">
                                    <h5 class="subtitle-1">... & press enter to start</h5>
                                </form>
                                <div class="search-outer"></div>
                            </div>
                        </div>

                        
                    </div><!-- END #menu-misc -->
                </div><!-- END .menu-inner -->
            </div><!-- END #menu -->
            
        </div> <!-- END .header-inner -->
    </header>
    
    <!-- HERO  -->
	<section id="hero" class="hero-auto" style="background: #913044;">
    	
        <div id="page-title" class="wrapper align-center">
            <h2 class="uppercase"><strong>Your progress so far...</strong></h2>
        </div> <!-- END #page-title -->
        
    </section>
    <!-- HERO -->
    
            
	<!-- PAGEBODY -->
	<section id="page-body">
    	  
     	<div class="wrapper">
        	
            <div class="column-section clearfix">
                	<div class="progress-bar-item">
                        <h6 class="progress-name">Quality 1</h6>
                        <div class="progress-bar"><div class="progress-active" style="background-color:#f75067;" data-perc="88">
                        <span class="tooltip">88%</span></div></div>
                    </div> 
                    <div class="spacer-big"></div>

                    <div class="progress-bar-item">
                        <h6 class="progress-name">Quality 2</h6>
                        <div class="progress-bar"><div class="progress-active" style="background-color:#aa88b6;" data-perc="97">
                        <span class="tooltip">97%</span></div></div>
                    </div>
                    <div class="spacer-big"></div>

                    <div class="progress-bar-item">
                        <h6 class="progress-name">Quality 3</h6>
                        <div class="progress-bar"><div class="progress-active" style="background-color:#5e349c;" data-perc="59">
                        <span class="tooltip">59%</span></div></div>
                    </div>
                    <div class="spacer-big"></div>

                    <div class="progress-bar-item">
                        <h6 class="progress-name">Quality 4</h6>
                        <div class="progress-bar"><div class="progress-active" style="background-color:#39ab86;" data-perc="59">
                        <span class="tooltip">33%</span></div></div>
                    </div>
                    <div class="spacer-big"></div>

                     <div class="progress-bar-item">
                        <h6 class="progress-name">Quality 5</h6>
                        <div class="progress-bar"><div class="progress-active" style="background-color:#a03537;" data-perc="59">
                        <span class="tooltip">28%</span></div></div>
                    </div>
                </div>
            </div> <!-- END .column-section -->
            
            <div class="spacer-big"></div>
            <hr>
            <div class="spacer-big"></div>

                        <h4 class="align-center"><strong>Comments by VPs</strong></h4>
            
            <div class="column-section boxed-spaced adapt-height vertical-center clearfix">
                <div class="column one-third testimonial">
                    <div class="testimonial-content">
                        <blockquote>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam pretium ultricies ex, ullamcorper posuere purus. Nulla eget felis hendrerit, imperdiet nunc commodo, viverra ipsum. Praesent tempus ut leo id elementum. Aliquam eget est tellus. Aenean vel nisl ac mi bibendum suscipit. Maecenas eget suscipit neque. Phasellus venenatis lacus a sollicitudin viverra. Maecenas massa augue, venenatis eget turpis in, facilisis dignissim urna. Vestibulum finibus risus at augue pharetra posuere. </blockquote>
                        <h5 class="testimonial-name">VP name</h5>
                        <h6 class="testimonial-meta subtitle-1">Department</h6>
                    </div>
                </div>
                <div class="column one-third testimonial">
                    <div class="testimonial-content">
                        <blockquote>Morbi sed velit lacus. Curabitur in sapien eget metus viverra euismod in eget turpis. Pellentesque volutpat tortor nec nibh posuere faucibus. Sed gravida commodo elementum. Nullam ornare viverra augue et iaculis. Cras in condimentum lorem. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Donec imperdiet pulvinar enim, nec ullamcorper sem. Aliquam sollicitudin, risus et tempor vehicula, nibh justo semper eros, eu vulputate tellus odio eu nisi.</blockquote>
                        <h5 class="testimonial-name">VP name</h5>
                        <h6 class="testimonial-meta subtitle-1">Department</h6>
                    </div>
                </div>
                <div class="column one-third last-col testimonial">
                    <div class="testimonial-content">
                        <blockquote>Aliquam vel lorem nec eros eleifend tristique vel sit amet ex. Maecenas ut sagittis nisi. Pellentesque a aliquet turpis, ut tincidunt sem. Praesent ultricies magna nibh, aliquet tincidunt quam volutpat vel. Nulla pharetra sem justo, vitae aliquet libero tristique dapibus. Sed fermentum magna ligula, sit amet sodales nulla rutrum eget. Donec pulvinar lorem orci, ac luctus nunc auctor sit amet. Vivamus facilisis libero id congue interdum.</blockquote>
                        <h5 class="testimonial-name">VP name</h5>
                        <h6 class="testimonial-meta subtitle-1">Department</h6>
                    </div>
                </div>
            </div> <!-- END .column-section -->
                        <div class="spacer-big"></div>
            <hr>
            <div class="spacer-big"></div>
            
     		
            </div> <!-- END .fullwidth-content -->
        </div> <!-- END .fullwidth-section -->
                            
                         
 	</section>
	<!-- PAGEBODY -->
    
    
          
    <!-- FOOTER -->  
    <footer id="footer" class="footer-dark text-light">
        <div class="footer-inner align-center wrapper">
            
            <div class="column-section clearfix">
                <div class="column one-full">
                
                    <div class="widget widget_text">
                        <img src="files/uploads/logo-sudo-scroll.png" srcset="files/uploads/logo-sudo-scroll.png 1x, files/uploads/logo-sudo-scroll@2x.png 2x" alt="Logo">
                    </div>
                    
                    <div class="widget widget_menu">
                        <ul class="menu">
                            <li><a href="#">About Us</a></li>
                            <li><a href="#">Support</a></li>
                            <li><a href="#">Blog</a></li>
                            <li><a href="#">Contact Us</a></li>
                        </ul>
                    </div>
                    
                    <div class="widget widget_socialmedia">
                        <ul class="socialmedia-widget hover-fade-1">
                            <li class="facebook"><a href="https://www.facebook.com/aiesecdelhiuniversity/"  target="_blank"></a></li>
                            <li class="twitter"><a href="https://twitter.com/aiesec_du?lang=en"  target="_blank"></a></li>
                            <li class="instagram"><a href="https://www.instagram.com/aiesecdu/"  target="_blank"></a></li>
                        </ul>
                    </div>
                    
                </div>       
            </div>  
                                  
            <a id="backtotop" href="#">Back to top</a>
        </div>
        
         <div class="copyright"><small>Copyright &copy; 2017 - Made with Love by <a href="http://arslaan.xyz/">Amar Arslaan</a></small></div>
    </footer>
    <!-- FOOTER -->
    
</div> <!-- END #page-content -->
<!-- PAGE CONTENT -->

<!-- SCRIPTS -->
<script src="files/js/jquery-2.1.4.min.js"></script>
<script type="text/javascript" src="files/js/jquery.easing.1.3.js"></script>
<script type="text/javascript" src="files/js/jquery.visible.min.js"></script>
<script type="text/javascript" src="files/js/script.js"></script>
<!-- SCRIPTS -->

</body>
</html>