{% extends 'base.html' %}

{% block title %}Guides IGT{% endblock %}

{% block content %}
	    
<!-- HERO  -->
    <section id="hero" class="hero-auto parallax-section text-light" data-parallax-image="files/uploads/hero-portfolio-3.jpg">
        
        <div id="page-title" class="wrapper align-center">
            <h4 class="subtitle-2">Guides</h4>
            <h2><strong>Project Booklets</strong></h2>
        </div> <!-- END #page-title -->
            
    </section>
    <!-- HERO -->
    
            
    <!-- PAGEBODY -->
 <section id="page-body" class="notoppadding">
                
        <div id="portfolio-grid" class="isotope-grid portfolio-container style-column-3 fitrows">
            
            <div class="isotope-item portfolio-item branding">
                <div class="portfolio-media">
                    <a href="https://mail-attachment.googleusercontent.com/attachment/u/6/?ui=2&ik=dae20ca58c&view=att&th=15cb1e8c03a91c63&attid=0.1&disp=inline&realattid=f_iz04arvs0&safe=1&zw&saddbat=ANGjdJ-WVIAwrzgAIfBQyNKGb5uatXSmgo5Hm8KGTvOSs_CfH7_2GiXhHX_Dw3lju9X4Y5h04jE_X-HYdKKR2XCqkfMXs_0PgOpFiDSzd189kRkN7BaJTxMuhaF1MROQzV41s8J6HPZpDr7hVYVCCJHRhho6kOChdTWpqljNES7n1tAzx_wfBL0M5XvhefhQQHyfqBhOavTLu3_ZUv9o6ZOgXHwCiPskJY30f2z9dxpQStUUqWjC8QfBKawiyuRVmFZIZYoU_bl32JUHsCgjtXqh83_itYElqLmrifKX_HCTHBtiihi58NzvEY36is6LoNUfXwHN-Q5LGb6AxZih_hqGDeGzpnjKkh04sPprUODj_XxIYUIwnzAOoat9YV5xCiGw4Fw7-A3Q1Jjnph1Z8aKXBS8uq7LRnypYm3vYUSUEpbfzXLaXm7kXkGNHUwNV0rD5ERfI2Qb1qVHPkGoIP6vMvR-jqOtmKMIRdMXpQRNUZK8UQSlfpePrwr4w1h4FchLY7swRAzOOEQO_eCHU53oo3uLH4kVXYh30y2iLrI3WRPb8r5mD9zesTZIYWlargS5eCBO-QIdYnxF9CcM0S6rWfBKDrLGLZ617bXdsbJD4UcMLArZVP_xgRKiJBaA" class="thumb-overlay overlay-effect-1 text-light">
                        <img src="http://i.imgur.com/ugtY18y.jpg" alt="EXPERIENCE">
                        <div class="overlay-caption hidden-on-start">
                            <h6 class="caption-sub portfolio-category subtitle-2">Experience</h6>
                            <h4 class="caption-name portfolio-name uppercase">Experience in Delhi and Delhi University</h4>
                        </div>
                    </a>
                </div>
            </div>
            
            <div class="isotope-item portfolio-item branding">
                <div class="portfolio-media">
                    <a href="https://mail-attachment.googleusercontent.com/attachment/u/6/?ui=2&ik=dae20ca58c&view=att&th=15cb1e8c03a91c63&attid=0.2&disp=inline&realattid=f_iz05alu11&safe=1&zw&saddbat=ANGjdJ8EiEuAn_TN7V_oB37iaJr8XkGVoXuvJHtm1HYMdV5DUb-ZiScYpLvM2bPHFATv4COVD2FKLIeoufVvDXyVfebmu1qNEw6dJU2BL-qilNcWmHVcs26LMxHgHXAmDPizqK9qJ86T6QH1EOOVpa-6A2Aoz8FYdvoDB-nPnF7aT7Wk6X9C8omuR287J3CFdmQPD2VHSgZtsXwquli5osYYA_6dPmkuRxwR-7qE2v3PdQ5kBWsR8NWhapfA6dvzXTLYuVy1er3VKPs1nxjeQzO3nwKK2VjMxSdg__T0js9vMkxJqg5RQKHErEs9mYY4fR5GaFPaDP8ADLily52qp_2PgEq6FiWjDX6s1xWXF2sh_O-YjMfUsF_LwvW0VXi4yo4JV6AGUV9is3pCMbgoAy78ygw1S5JWvyIb55pKGg8GctnPeqFxZNdBYgHJfK1T0a3RtT4Wjeaa2Al2AWWi0sZE41Xw4lyRrd4LrSKHvhNlKe-LRogJadS-r-f82JyfH15-HtwaPJhELK5RLH5eg5eSXNwQRgDRzHH2PDvsujt3S-i9PvnBuqtjekyAsK7QllSoIe9NTT9XBbJFBJfSQs_Vv6-tzneyNxr_PHmrEDWE25OOt3-ExghUH9Bf5TI" class="thumb-overlay overlay-effect-1 text-light">
                        <img src="http://i.imgur.com/rAkVqRA.jpg" alt="EXPLORE">
                        <div class="overlay-caption hidden-on-start">
                            <h6 class="caption-sub portfolio-category subtitle-2">Explore</h6>
                            <h4 class="caption-name portfolio-name uppercase">Delhi and AIESEC in Delhi University</h4>
                        </div>
                    </a>
                </div>
            </div>
            
            <div class="isotope-item portfolio-item web">
                <div class="portfolio-media">
                    <a href="https://mail-attachment.googleusercontent.com/attachment/u/6/?ui=2&ik=dae20ca58c&view=att&th=15cb1e8c03a91c63&attid=0.3&disp=inline&realattid=f_iz07hgo22&safe=1&zw&saddbat=ANGjdJ9hcEbtyXpsnpX6FNZwotIOyQUG1nTpMW-a7f2ZrjsYbIKk21ht6B3IfuKIDvGLUpva5Wu2SCS4tK2_H4yO0hwjGlUDEWLhL7fSP25tkNsZAU8bqXrCHO4z7dfR7Yj-WdCx7YCsgSNFmJp_zNG2U3JZOw5zT0b7BwlQVXD6am7gxMz15LlyL4n1VDqtKFWc7skOaxBfjreqoOQAnjSTTUY-aKcbizTOweyn2AQIisRz1iPijkmzBL40rBCSXNTVcR9M7dE2gk3EubwYuP-c73vk1YFCbkY5ELyNT9RHofsdsUgZKawBXwBdwqiAA6s41MnCxhCmq9E1LY374m--yzbagh8NOOqhJvA3aSL6dCzGiDMsrqKF7H9h49NgLyKy-VLdXO-GyTCgSrIZh9G53n_NfyjTeoJh1cH55nUvY9RwA918nJUZf08RIHcTh5A756MENC8s2XnEAuW9wcF6TH_kKL-_QPwZTyaQo2wYAlLcxbcJwDkvVPm6AIF3qj3WpyqOuXGtAC10q9Hv1y4H5c5Oh08y4_7EOnPiyCF0KwRnMQXccGIxA9aP2EFiYYyq5OpFgPgCdWvDyundy5VQbF2CjQNOnU_xIAyOoswe4lSyLCl-8rQ0F20Vi6Q" class="thumb-overlay overlay-effect-1 text-light">
                        <img src="http://i.imgur.com/fxp0x01.jpg" alt="booklet">
                        <div class="overlay-caption hidden-on-start">
                            <h6 class="caption-sub portfolio-category subtitle-2">Booklet</h6>
                            <h4 class="caption-name portfolio-name uppercase">Industry Booklet</h4>
                        </div>
                    </a>
                </div>
            </div>
            
           
            
        </div> <!-- END #portfolio-grid .isotope-grid -->
            
    </section>

    <!-- PAGEBODY -->
    
          
    {% endblock %}