<!doctype html>
<html class="no-js" lang="en-US">
<head>

    <!-- DEFAULT META TAGS -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" />
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    
    <!-- FONTS -->
    <link href="http://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
    <link href="http://fonts.googleapis.com/css?family=Lato:300,400,700" rel="stylesheet" type="text/css">
	<link href="http://fonts.googleapis.com/css?family=Lora:400italic,700italic" rel="stylesheet" type="text/css">
       
    <!-- CSS -->
    <link rel="stylesheet" id="default-style-css"  href="files/css/style.css" type="text/css" media="all" />
    <link rel="stylesheet" id="fontawesome-style-css" href="files/css/font-awesome.min.css" type="text/css" media="all" />
    <link rel="stylesheet" id="ionic-icons-style-css" href="files/css/ionicons.css" type="text/css" media="all" />
    <link rel="stylesheet" id="revolution-slider-main-css" href="files/revolution/css/settings.css" type="text/css" media="all" />
    <link rel="stylesheet" id="revolution-slider-layer-css" href="files/revolution/css/layers.css" type="text/css" media="all" />
	<link rel="stylesheet" id="revolution-slider-nav-css" href="files/revolution/css/navigation.css" type="text/css" media="all" />
    <link rel="stylesheet" id="owlcarousel-css" href="files/css/owl.carousel.css" type="text/css" media="all" />
    <link rel="stylesheet" id="lightcase-css" href="files/css/lightcase.css" type="text/css" media="all" />
	<link rel="stylesheet" id="isotope-style-css"  href="files/css/isotope.css" type="text/css" media="all" />
    <link rel="stylesheet" id="mqueries-style-css"  href="files/css/mqueries.css" type="text/css" media="all" />
    
    <!-- FAVICON -->
    <link rel="shortcut icon" href="files/uploads/favicon.png"/>
    
    <!-- DOCUMENT TITLE -->
    <title>Home | AIESEC in DU</title>

</head>

<body>


<!-- PAGE CONTENT -->
<div id="page-content">
<!-- HEADER -->
    <header id="header" class="header-bordered header-transparent transparent-light">        
        <div class="header-inner clearfix">
            
            <!-- LOGO -->
            <div id="logo" class="left-float">
                <a href="index.html">
                    <img id="scroll-logo" src="files/uploads/logo-sudo-scroll.png" srcset="files/uploads/logo-sudo-scroll.png 1x, files/uploads/logo-sudo-scroll@2x.png 2x" alt="Logo Scroll">
                    <img id="dark-logo" src="files/uploads/logo-sudo-dark.png" srcset="files/uploads/logo-sudo-dark.png 1x, files/uploads/logo-sudo-dark@2x.png 2x" alt="Logo Dark">
                    <img id="light-logo" src="files/uploads/logo-sudo-light.png" srcset="files/uploads/logo-sudo-light.png 1x, files/uploads/logo-sudo-light@2x.png 2x" alt="Logo Light">
                </a>
            </div>
            
            <!-- MAIN NAVIGATION -->
            <div id="menu" class="right-float clearfix">
                <a href="#" class="responsive-nav-toggle"><span class="hamburger"></span></a>
                <div class="menu-inner">
                    <nav id="main-nav">
                        <ul>
                            <li class="menu-item-has-children mega-menu"><a href="#">Experience Partners</a>
                                <div class="mega-menu-content col-4">
                                    <div class="mega-menu-inner clearfix">
                                        <ul>
                                            <li class="mega-menu-title"><a href="#">Global Volunteer</a>
                                                <ul>
                                                    <li><a href="opportunities.html">Browse Opportunities</a></li>
                                                    <li><a href="guidesigv.html">Guides</a></li>
                                                    <li><a href="#">Help</a></li>
<!--                                                     <li><a href="portfolio-grid-fullwidth.html">Grid</a></li>
                                                    <li><a href="portfolio-grid-fullwidth-spaced.html">Grid Spaced</a></li>
                                                    <li><a href="portfolio-masonry-fullwidth.html">Masonry</a></li>
                                                    <li><a href="portfolio-masonry-fullwidth-spaced.html">Masonry Spaced</a></li>
                                                    <li><a href="portfolio-carousel-fullwidth.html">Carousel</a></li>
                                                    <li><a href="portfolio-carousel-fullwidth-spaced.html">Carousel Spaced</a></li> -->
                                                </ul>
                                            </li>
                                            
                                            <li class="mega-menu-title"><a href="#">Global Talent</a>
                                                <ul>
                                                    <li><a href="projects.html">Browse Projects</a></li>
                                                    <li><a href="guidesigt.html">Guides</a></li>
                                                </ul>
                                            </li>
                                        </ul>
                                    </div> <!-- END .mega-menu-inner -->
                                </div> <!-- END .mega-menu-content -->
                            </li>
                             <li class="menu-item-has-children mega-menu"><a href="#">Members</a>
                                <div class="mega-menu-content col-4">
                                    <div class="mega-menu-inner clearfix">
                                        <ul>
                                            <li class="mega-menu-title"><a href="#">Access your account</a>
                                                <ul>
                                                    <li><a href="#">Login</a></li>
                                                    <li><a href="#">Sign Up</a></li>
<!--                                                     <li><a href="portfolio-grid-fullwidth.html">Grid</a></li>
                                                    <li><a href="portfolio-grid-fullwidth-spaced.html">Grid Spaced</a></li>
                                                    <li><a href="portfolio-masonry-fullwidth.html">Masonry</a></li>
                                                    <li><a href="portfolio-masonry-fullwidth-spaced.html">Masonry Spaced</a></li>
                                                    <li><a href="portfolio-carousel-fullwidth.html">Carousel</a></li>
                                                    <li><a href="portfolio-carousel-fullwidth-spaced.html">Carousel Spaced</a></li> -->
                                                </ul>
                                            </li>
                                            
                                            <li class="mega-menu-title"><a href="#">Access Resources</a>
                                                <ul>
                                                    <li><a href="https://www.aiesec.it/wp-content/uploads/2017/02/AIESEC_Bluebook_Brand_Toolkit.pdf">Brand Toolkit(Bluebook)</a></li>
                                                    <li><a href="notices.html">Notices</a></li>
                                                    <li><a href="ldmresources.html">Leadership Development Model</a></li>
                                                    <li><a href="contacts.html">Contacts</a></li>
                                                    <li><a href="awdocuments.html">AIESEC way documents</a></li>
                                                    <li><a href="igv.html">Incoming Global Volunteer</a></li>
                                                    <li><a href="igt.html">Incoming Global Talent</a></li>


                                                </ul>
                                            </li>
                                        </ul>
                                    </div> <!-- END .mega-menu-inner -->
                                </div> <!-- END .mega-menu-content -->
                            </li>
                            
                            
                        </ul>
                    </nav>
                    
                    <div id="menu-misc" class="clearfix">    
                        
                        <!-- HEADER SEARCH -->
                        <div id="header-search">
                            <a href="#" id="show-search"><i class="fa fa-search"></i></a>
                            <div class="header-search-content">
                                <form action="http://www.spab-rice.com/themeforest/sudo/demo/search.html" method="get">
                                    <a href="#" id="close-search"></a>
                                    <input type="text" name="q" class="form-control" value="" placeholder="Enter your search ...">
                                    <h5 class="subtitle-1">... & press enter to start</h5>
                                </form>
                                <div class="search-outer"></div>
                            </div>
                        </div>

                        
                    </div><!-- END #menu-misc -->
                </div><!-- END .menu-inner -->
            </div><!-- END #menu -->
            
        </div> <!-- END .header-inner -->
    </header>
	    
    <!-- HERO  -->
    <section id="hero" class="hero-full text-light parallax-section" data-parallax-image="files/uploads/hero-architecture.jpg">
        
        <div id="page-title" class="wrapper align-center">
            <h1><strong>AIESEC in Delhi University</strong></h1>
            <h5 class="subtitle-1 uppercase"><strong>Our online publication that offers content for Experience Partners and Members.</strong></h5>
        </div> <!-- END #page-title -->
        <a href="#" id="scroll-down"></a>
        
    </section>
    <!-- HERO -->
    
            
    <!-- PAGEBODY -->
    <section id="page-body">
    
        <div class="column-section boxed-sticky adapt-height clearfix">
            <div class="column one-half bigpadding" style="background: transparent">
                <h4 class="uppercase"><strong>What we do</strong></h4>
                <hr class="small thick">
                <p>AIESEC helps develop leadership capabilities through their internal leadership programs and engages students and graduates in international student exchange and internship programs for profit and non-profit organizations. Global Internship Programme (GIP) and Global Community Development Program (GCDP) are intense learning experiences that connect members through AIESEC’s global network. Each year more than 10,000 members go abroad to take up the challenging opportunity to live and work in a foreign country.</p>
            </div>
            <div class="column one-half last-col" style="background:url(files/uploads/architecture-1.jpg) center center;background-size:cover;">
                
            </div>
        </div>
        
        <div class="spacer-big"></div>
        
        <div class="column-section boxed-sticky adapt-height clearfix">
            <div class="column one-half" style="background:url(files/uploads/architecture-2.jpg) center center;background-size:cover;"></div>
            <div class="column one-half last-col bigpadding" style="background: transparent">
                <h4 class="uppercase"><strong>Who we are</strong></h4>
                <hr class="small thick">
                <p>Formed in 1948 to re – establish the severely damaged relations between European nations after the second world war, AIESEC ( Association for International Etudiante of Science, Economics & Commerce) became global in a very short period of time. Today it is the largest student-driven organisation in the world, spread around 113 countries. It provides its members with an integrated development experience comprised of leadership opportunities, international internships and participation in a global learning environment.<br><br>

AIESEC in Delhi University was brought into existence in 1984, and is the highest performing Local Chapter in the world. Awarded as the best local committee of AIESEC India in 2011,  it is one of the pioneering local chapters of the organisation. AIESEC in Delhi University present in over 30 colleges including LSR, SRCC, St. Stephens, Miranda House, Amity, DTU, etc.</p>
            </div>
        </div>
            
	<!-- PAGEBODY -->
	<!-- <section id="page-body">
    
    	<div class="wrapper">
        
        	<h3 class="align-center"><strong>Available Opportunities</strong></h3>
            <h5 class="subtitle-1 align-center">We provide perfect and professional opportunities,<br>covering all areas of education.</h5>
            <div class="spacer-big"></div>
            
            <ul id="portfolio-filter" class="filter" data-related-grid="portfolio-grid">
                <li class="active" ><a href="#" data-filter="*">Show All</a></li>
                <li><a data-filter=".branding" href="#" title="Branding">Branding</a></li>
                <li><a data-filter=".web" href="#" title="Print">Web Design</a></li>
                <li><a data-filter=".photography" href="#" title="Print">Photography</a></li>
            </ul>
                    
            <div id="portfolio-grid" class="isotope-grid portfolio-container style-column-3 fitrows">
            
            <div class="isotope-item portfolio-item branding">
                <div class="portfolio-media">
                    <a href="portfolio-single-custom.html" class="thumb-overlay overlay-effect-1 text-light">
                        <img src="files/uploads/portfolio-thumb-grid-1.jpg" alt="SEO IMG NAME">
                        <div class="overlay-caption hidden-on-start">
                            <h6 class="caption-sub portfolio-category subtitle-2">Branding</h6>
                            <h4 class="caption-name portfolio-name uppercase">Rissa Smartwatch</h4>
                        </div>
                    </a>
                </div>
            </div>
            
            <div class="isotope-item portfolio-item branding">
                <div class="portfolio-media">
                    <a href="portfolio-single-gallery.html" class="thumb-overlay overlay-effect-1 text-light">
                        <img src="files/uploads/portfolio-thumb-grid-2.jpg" alt="SEO IMG NAME">
                        <div class="overlay-caption hidden-on-start">
                            <h6 class="caption-sub portfolio-category subtitle-2">Branding</h6>
                            <h4 class="caption-name portfolio-name uppercase">Band & Roll</h4>
                        </div>
                    </a>
                </div>
            </div>
            
            <div class="isotope-item portfolio-item web">
                <div class="portfolio-media">
                    <a href="portfolio-single-gallery.html" class="thumb-overlay overlay-effect-1 text-light">
                        <img src="files/uploads/portfolio-thumb-grid-3.jpg" alt="SEO IMG NAME">
                        <div class="overlay-caption hidden-on-start">
                            <h6 class="caption-sub portfolio-category subtitle-2">Web Design</h6>
                            <h4 class="caption-name portfolio-name uppercase">Breaking News</h4>
                        </div>
                    </a>
                </div>
            </div>
            
            <div class="isotope-item portfolio-item photography">
                <div class="portfolio-media">
                    <a href="portfolio-single-slider.html" class="thumb-overlay overlay-effect-1 text-light">
                        <img src="files/uploads/portfolio-thumb-grid-4.jpg" alt="SEO IMG NAME">
                        <div class="overlay-caption hidden-on-start">
                            <h6 class="caption-sub portfolio-category subtitle-2">Photography</h6>
                            <h4 class="caption-name portfolio-name uppercase">Car of Future</h4>
                        </div>
                    </a>
                </div>
            </div>
            
            <div class="isotope-item portfolio-item branding">
                <div class="portfolio-media">
                    <a href="portfolio-single-sidebar.html" class="thumb-overlay overlay-effect-1 text-light">
                        <img src="files/uploads/portfolio-thumb-grid-5.jpg" alt="SEO IMG NAME">
                        <div class="overlay-caption hidden-on-start">
                            <h6 class="caption-sub portfolio-category subtitle-2">Branding</h6>
                            <h4 class="caption-name portfolio-name uppercase">Kafee & Co</h4>
                        </div>
                    </a>
                </div>
            </div>
            
            <div class="isotope-item portfolio-item photography">
                <div class="portfolio-media">
                    <a href="portfolio-single-photography.html" class="thumb-overlay overlay-effect-1 text-light">
                        <img src="files/uploads/portfolio-thumb-grid-6.jpg" alt="SEO IMG NAME">
                        <div class="overlay-caption hidden-on-start">
                            <h6 class="caption-sub portfolio-category subtitle-2">Photography</h6>
                            <h4 class="caption-name portfolio-name uppercase">Irene</h4>
                        </div>
                    </a>
                </div>
            </div>
            
            <div class="isotope-item portfolio-item web">
                <div class="portfolio-media">
                    <a href="portfolio-single-video.html" class="thumb-overlay overlay-effect-1 text-light">
                        <img src="files/uploads/portfolio-thumb-grid-7.jpg" alt="SEO IMG NAME">
                        <div class="overlay-caption hidden-on-start">
                            <h6 class="caption-sub portfolio-category subtitle-2">Web Design</h6>
                            <h4 class="caption-name portfolio-name uppercase">View from a<br>Blue Moon</h4>
                        </div>
                    </a>
                </div>
            </div> 
            
            <div class="isotope-item portfolio-item branding">
                <div class="portfolio-media">
                    <a href="portfolio-single-video.html" class="thumb-overlay overlay-effect-1 text-light">
                        <img src="files/uploads/portfolio-thumb-grid-8.jpg" alt="SEO IMG NAME">
                        <div class="overlay-caption hidden-on-start">
                            <h6 class="caption-sub portfolio-category subtitle-2">Branding</h6>
                            <h4 class="caption-name portfolio-name uppercase">Lost engine Studio</h4>
                        </div>
                    </a>
                </div>
            </div>
            
            <div class="isotope-item portfolio-item web">
                <div class="portfolio-media">
                    <a href="portfolio-single-video.html" class="thumb-overlay overlay-effect-1 text-light">
                        <img src="files/uploads/portfolio-thumb-grid-9.jpg" alt="SEO IMG NAME">
                        <div class="overlay-caption hidden-on-start">
                            <h6 class="caption-sub portfolio-category subtitle-2">Web Design</h6>
                            <h4 class="caption-name portfolio-name uppercase">Lightbox</h4>
                        </div>
                    </a>
                </div>
            </div>
            
            <div class="isotope-item portfolio-item photography">
                <div class="portfolio-media">
                    <a href="portfolio-single-video.html" class="thumb-overlay overlay-effect-1 text-light">
                        <img src="files/uploads/portfolio-thumb-grid-10.jpg" alt="SEO IMG NAME">
                        <div class="overlay-caption hidden-on-start">
                            <h6 class="caption-sub portfolio-category subtitle-2">Photography</h6>
                            <h4 class="caption-name portfolio-name uppercase">Change this Text</h4>
                        </div>
                    </a>
                </div>
            </div>
            
            <div class="isotope-item portfolio-item photography">
                <div class="portfolio-media">
                    <a href="portfolio-single-video.html" class="thumb-overlay overlay-effect-1 text-light">
                        <img src="files/uploads/portfolio-thumb-grid-11.jpg" alt="SEO IMG NAME">
                        <div class="overlay-caption hidden-on-start">
                            <h6 class="caption-sub portfolio-category subtitle-2">Photography</h6>
                            <h4 class="caption-name portfolio-name uppercase">Eleven Everything</h4>
                        </div>
                    </a>
                </div>
            </div>
            
            <div class="isotope-item portfolio-item branding">
                <div class="portfolio-media">
                    <a href="portfolio-single-video.html" class="thumb-overlay overlay-effect-1 text-light">
                        <img src="files/uploads/portfolio-thumb-grid-12.jpg" alt="SEO IMG NAME">
                        <div class="overlay-caption hidden-on-start">
                            <h6 class="caption-sub portfolio-category subtitle-2">Branding</h6>
                            <h4 class="caption-name portfolio-name uppercase">Brücke Bier</h4>
                        </div>
                    </a>
                </div>
            </div> 
            
        </div>  --><!-- END #portfolio-grid .isotope-grid -->
            
        </div> <!-- END .wrapper -->
        
        <div class="spacer-big"></div>
        
        <div class="fullwidth-section text-light parallax-section" data-parallax-image="files/uploads/index-main-bg-1.jpg">
            <div class="fullwidth-content wrapper-small align-center">
                
                <div class="owl-slider content-slider nav-light" data-dots="true">
                    <div>
                        <blockquote>In any moment of decision, the best thing you can do is the right thing, the next best thing is the wrong thing, and the worst thing you can do is nothing.
                            <cite>Theodore Roosevelt</cite>
                        </blockquote>
                    </div>
                    <div>
                        <blockquote>As a designer there are not many other templates that comes close to this. This template really understands the main purposes of webdesign.
                            <cite>Patrick Hamilton</cite>
                        </blockquote>
                    </div>
                </div> 
                
            </div>
        </div> <!-- END .fullwidth-section -->
    


        <div class="column-section boxed-sticky adapt-height vertical-center text-light align-center clearfix">
            <div class="column one-half" style="background: #446ebf;">
                <h5>Follow us on Facebook</h5>
                <ul class="socialmedia-widget style-circled size-medium hover-fade-2">
                    <li class="facebook"><a href="https://www.facebook.com/aiesecdelhiuniversity/" target="_blank"></a></li>
                </ul>
            </div>
            <div class="column one-half last-col" style="background: #39aadc;">
                <h5>Follow us on Twitter</h5>
                <ul class="socialmedia-widget style-circled size-medium hover-fade-2">
                    <li class="twitter"><a href="https://twitter.com/aiesec_du?lang=en" target="_blank"></a></li>
                </ul>
            </div>
        </div>
       
       	<div class="column-section boxed-sticky adapt-height vertical-center text-light align-center clearfix">
       		<div class="column one-third bigpadding" style="background:url(files/uploads/index-main-1.jpg) center center;background-size:cover;">
            	<h5 class="subtitle-2">More than</h5>
                <div class="sr-counter counter-big"><span class="counter-value">947</span></div>
                <h5 class="uppercase">Projects Completed</h5>
            </div>
            <div class="column one-third bigpadding" style="background:url(files/uploads/index-main-2.jpg) center center;background-size:cover;">
            	<h5 class="subtitle-2">A list of</h5>
                <div class="sr-counter counter-big"><span class="counter-value">367</span></div>
                <h5 class="uppercase">Satisfied Experience Partners</h5>
            </div>
            <div class="column one-third last-col bigpadding" style="background:url(files/uploads/index-main-3.jpg) center center;background-size:cover;">
            	<h5 class="subtitle-2">More than</h5>
                <div class="sr-counter counter-big"><span class="counter-value">81 429</span></div>
                <h5 class="uppercase">Experiences delivered</h5>
            </div>
       	</div> <!-- END .column-section -->
        
        <a href="#" class="sr-button button-full button-2" style="background: #ae3a7e;">Kickstart your experience<br><strong>Contact us here</strong></a>
            
 	</section>
	<!-- PAGEBODY -->
    
          
    <!-- FOOTER -->  
    <footer id="footer" class="footer-dark text-light">
        <div class="footer-inner align-center wrapper">
            
            <div class="column-section clearfix">
                <div class="column one-full">
                
                    <div class="widget widget_text">
                        <img src="files/uploads/logo-sudo-scroll.png" srcset="files/uploads/logo-sudo-scroll.png 1x, files/uploads/logo-sudo-scroll@2x.png 2x" alt="Logo">
                    </div>
                    
                    <div class="widget widget_menu">
                        <ul class="menu">
                            <li><a href="#">About Us</a></li>
                            <li><a href="#">Support</a></li>
                            <li><a href="#">Blog</a></li>
                            <li><a href="#">Contact Us</a></li>
                        </ul>
                    </div>
                    
                    <div class="widget widget_socialmedia">
                        <ul class="socialmedia-widget hover-fade-1">
                            <li class="facebook"><a href="https://www.facebook.com/aiesecdelhiuniversity/"  target="_blank"></a></li>
                            <li class="twitter"><a href="https://twitter.com/aiesec_du?lang=en"  target="_blank"></a></li>
                            <li class="instagram"><a href="https://www.instagram.com/aiesecdu/"  target="_blank"></a></li>
                        </ul>
                    </div>
                    
                </div>       
            </div>  
                                  
            <a id="backtotop" href="#">Back to top</a>
        </div>
        
         <div class="copyright"><small>Copyright &copy; 2017 - Made with Love by <a href="http://arslaan.xyz/">Amar Arslaan</a></small></div>
    </footer>
    <!-- FOOTER -->
    
</div> <!-- END #page-content -->
<!-- PAGE CONTENT -->

<!-- SCRIPTS -->
<script src="files/js/jquery-2.1.4.min.js"></script>
<script type="text/javascript" src="files/js/jquery.easing.1.3.js"></script>
<script type="text/javascript" src="files/js/jquery.visible.min.js"></script>
<script type="text/javascript" src="files/revolution/js/jquery.themepunch.tools.min838f.js?rev=5.0"></script>
<script type="text/javascript" src="files/revolution/js/jquery.themepunch.revolution.min838f.js?rev=5.0"></script>
<script type="text/javascript" src="files/revolution/js/extensions/revolution.extension.slideanims.min.js"></script>
<script type="text/javascript" src="files/revolution/js/extensions/revolution.extension.layeranimation.min.js"></script>
<script type="text/javascript" src="files/revolution/js/extensions/revolution.extension.navigation.min.js"></script>
<script type="text/javascript" src="files/revolution/js/extensions/revolution.extension.video.min.js"></script>
<script type="text/javascript" src="files/revolution/js/extensions/revolution.extension.actions.min.js"></script>
<script type="text/javascript" src="files/js/tweenMax.js"></script>
<script type="text/javascript" src="files/js/jquery.backgroundparallax.min.js"></script>
<script type="text/javascript" src="files/js/jquery.isotope.min.js"></script>
<script type="text/javascript" src="files/js/jquery.imagesloaded.min.js"></script>
<script type="text/javascript" src="files/js/jquery.owl.carousel.js"></script>
<script type="text/javascript" src="files/js/jquery.lightcase.min.js"></script>
<script type="text/javascript" src="files/js/script.js"></script>
<!-- SCRIPTS -->

</body>
</html>