{% extends 'base.html' %}
{% block title %}LDM Resources{% endblock %}
    {% block content %}
    
    	    
    <!-- HERO  -->
    <section id="hero" class="hero-auto text-light" style="background:#1a1a1a;">
        
        <div id="page-title" class="wrapper align-center">
            <h1 class="uppercase"><strong>AIESEC way documents</strong></h1>
        </div> <!-- END #page-title -->
        
    </section>
    <!-- HERO -->
    
            
    <!-- PAGEBODY -->
    <section id="page-body">
        <a href="http://hub.myaiesec.in/upload/9fec-AIESEC's+Leadership+Development+Model.pdf" class="sr-button button-full button-2">2016 LDM Booklet<br><strong></strong></a>  
        <a href="http://hub.myaiesec.in/upload/4583-Standards%20IPM%20final.pdf" class="sr-button button-full button-2">SnS to Standards: The Evolution
<br><strong></strong></a>  
        <a href="http://hub.myaiesec.in/upload/69a6-Standards%20IPM%20Workshop.pdf" class="sr-button button-full button-2">Know the Standards in depth
<br><strong></strong></a>  
      <a href="http://hub.myaiesec.in/upload/cbd3-New%20Exchange%20Standards%20(1).png" class="sr-button button-full button-2">The Exchange Standards Image
<br><strong></strong></a>  
      <a href="http://hub.myaiesec.in/upload/0ed8-b30f-team_standards.pdf" class="sr-button button-full button-2">The \"Team\" Standards
<br><strong></strong></a>  
      <a href="http://hub.myaiesec.in/upload/22aa-team%20standards.png" class="sr-button button-full button-2">Team Standards Image<br><strong></strong></a>  
      
 	</section>
	<!-- PAGEBODY -->
   {% endblock %}