{% extends 'base.html' %}
{% block title %}Notices{% endblock %}
{% block content %}
    <!-- HERO  -->
    <section id="hero" class="hero-auto text-light" style="background:#1a1a1a;">
        
        <div id="page-title" class="wrapper align-center">
            <h1 class="uppercase"><strong>Notices</strong></h1>
        </div> <!-- END #page-title -->
        
    </section>
    <!-- HERO -->
    
            
    <!-- PAGEBODY -->

<h1>Put notices here</h1>


	<!-- PAGEBODY -->
    
 {% endblock %}