{% extends 'base.html' %}
{% block title %}Projects{% endblock %}
{% block content %}
	    
<!-- HERO  -->
    <section id="hero" class="hero-auto parallax-section text-light" data-parallax-image="files/uploads/hero-portfolio-3.jpg">
        
        <div id="page-title" class="wrapper align-center">
            <h4 class="subtitle-2">Global Talent</h4>
            <h2><strong>Available Projects</strong></h2>
        </div> <!-- END #page-title -->
            
    </section>
    <!-- HERO -->
    
            
    <!-- PAGEBODY -->
    <section id="page-body" class="notoppadding">
          
        <ul id="portfolio-filter" class="filter" data-related-grid="portfolio-grid">
            <li class="active" ><a href="#" data-filter="*">Show All</a></li>
            <li><a data-filter=".branding" href="#" title="Branding">Branding</a></li>
            <li><a data-filter=".web" href="#" title="Print">Web Design</a></li>
            <li><a data-filter=".photography" href="#" title="Print">Photography</a></li>
        </ul>
                
        <div id="portfolio-grid" class="isotope-grid portfolio-container style-column-2 isotope-spaced clearfix">
            
            <div class="isotope-item portfolio-item branding">
                <div class="portfolio-media">
                    <a href="projects1.html" class="thumb-overlay overlay-effect-1 text-light">
                        <img src="files/uploads/portfolio-thumb-masonry-1.jpg" alt="SEO IMG NAME">
                    </a>
                </div>
                <div class="portfolio-desc">
                    <a href="projects1.html">
                        <h6 class="portfolio-category subtitle-2">Branding</h6>
                        <h5 class="portfolio-name" ><strong>Rissa Smartwatch</strong></h5>
                    </a>
                </div>
            </div>
            
            <div class="isotope-item portfolio-item web">
                <div class="portfolio-media">
                    <a href="projects2.html" class="thumb-overlay overlay-effect-1 text-light">
                        <img src="files/uploads/portfolio-thumb-masonry-3.jpg" alt="SEO IMG NAME">
                    </a>
                </div>
                <div class="portfolio-desc">
                    <a href="projects2.html">
                        <h6 class="portfolio-category subtitle-2">Web Design</h6>
                        <h5 class="portfolio-name" ><strong>Breaking News</strong></h5>
                    </a>
                </div>
            </div>
            
            <div class="isotope-item portfolio-item branding">
                <div class="portfolio-media">
                    <a href="projects1.html" class="thumb-overlay overlay-effect-1 text-light">
                        <img src="files/uploads/portfolio-thumb-masonry-2.jpg" alt="SEO IMG NAME">
                    </a>
                </div>
                <div class="portfolio-desc">
                    <a href="projects1.html">
                        <h6 class="portfolio-category subtitle-2">Branding</h6>
                        <h5 class="portfolio-name" ><strong>Band & Roll</strong></h5>
                    </a>
                </div>
            </div>
             
            <div class="isotope-item portfolio-item branding">
                <div class="portfolio-media">
                    <a href="projects2.html" class="thumb-overlay overlay-effect-1 text-light">
                        <img src="files/uploads/portfolio-thumb-masonry-5.jpg" alt="SEO IMG NAME">
                    </a>
                </div>
                <div class="portfolio-desc">
                    <a href="projects2.html">
                        <h6 class="portfolio-category subtitle-2">Branding</h6>
                        <h5 class="portfolio-name" ><strong>Kafee & Coo</strong></h5>
                    </a>
                </div>
            </div>
            
            <div class="isotope-item portfolio-item web">
                <div class="portfolio-media">
                    <a href="projects1.html" class="thumb-overlay overlay-effect-1 text-light">
                        <img src="files/uploads/portfolio-thumb-masonry-7.jpg" alt="SEO IMG NAME">
                    </a>
                </div>
                <div class="portfolio-desc">
                    <a href="projects1.html">
                        <h6 class="portfolio-category subtitle-2">Web Design</h6>
                        <h5 class="portfolio-name" ><strong>View from a Blue Moon</strong></h5>
                    </a>
                </div>
            </div> 
            
            <div class="isotope-item portfolio-item photography">
                <div class="portfolio-media">
                    <a href="projects2.html" class="thumb-overlay overlay-effect-1 text-light">
                        <img src="files/uploads/portfolio-thumb-masonry-4.jpg" alt="SEO IMG NAME">
                    </a>
                </div>
                <div class="portfolio-desc">
                    <a href="projects1.html">
                        <h6 class="portfolio-category subtitle-2">Photography</h6>
                        <h5 class="portfolio-name" ><strong>Car of Future</strong></h5>
                    </a>
                </div>
            </div>
           
            <div class="isotope-item portfolio-item branding">
                <div class="portfolio-media">
                    <a href="projects1.html" class="thumb-overlay overlay-effect-1 text-light">
                        <img src="files/uploads/portfolio-thumb-masonry-10.jpg" alt="SEO IMG NAME">
                    </a>
                </div>
                <div class="portfolio-desc">
                    <a href="projects1.html">
                        <h6 class="portfolio-category subtitle-2">Branding</h6>
                        <h5 class="portfolio-name" ><strong>Change this Text</strong></h5>
                    </a>
                </div>
            </div>
            
            <div class="isotope-item portfolio-item photography">
                <div class="portfolio-media">
                    <a href="projects2.html" class="thumb-overlay overlay-effect-1 text-light">
                        <img src="files/uploads/portfolio-thumb-masonry-6.jpg" alt="SEO IMG NAME">
                    </a>
                </div>
                <div class="portfolio-desc">
                    <a href="projects2.html">
                        <h6 class="portfolio-category subtitle-2">Photography</h6>
                        <h5 class="portfolio-name" ><strong>Irene</strong></h5>
                    </a>
                </div>
            </div>
            
            <div class="isotope-item portfolio-item branding">
                <div class="portfolio-media">
                    <a href="projects1.html" class="thumb-overlay overlay-effect-1 text-light">
                        <img src="files/uploads/portfolio-thumb-masonry-12.jpg" alt="SEO IMG NAME">
                    </a>
                </div>
                <div class="portfolio-desc">
                    <a href="projects1.html">
                        <h6 class="portfolio-category subtitle-2">Branding</h6>
                        <h5 class="portfolio-name" ><strong>Brücke Bier</strong></h5>
                    </a>
                </div>
            </div> 
            
        </div> <!-- END #portfolio-grid .isotope-grid -->
            
    </section>
    <!-- PAGEBODY -->
    
  {% endblock %}