{% extends 'base.html' %}
	    {% block title %}{% endblock %}
	    {% block content %}
    <!-- HERO  -->
    <section id="hero" class="hero-auto text-light" style="background:#1a1a1a;">
        
        <div id="page-title" class="wrapper align-center">
            <h1 class="uppercase"><strong>Visa For Externals</strong></h1>
        </div> <!-- END #page-title -->
        
    </section>
    <!-- HERO -->
    
            
    <!-- PAGEBODY -->
    <section id="page-body">
        <div id="blog-single">
                            
            <div class="post-content">
                
                <div class="wrapper-small">
                
                    <h4 class="uppercase"><strong>Visa Procedure</strong></h4>
                    
                    <p>For all Exchange Participants coming to India for Global Talent or Global Entrepreneur, AIESEC India recommends them to apply for Business Visa, Entry Visa or Intern Visa.  Kindly get in touch with respective opportunity manager to get to know the exact visa type you need to apply.

</p>
                
                </div> <!-- END .wrapper-small -->
                
                <div class="spacer-big"></div>
                
                 
                <div class="wrapper-small">
                
                    <h5 class="uppercase">List of documents required for Visa
</h5>
                    
                    <p>Please do check the website of Indian Embassy in your country.
</p>
                
                </div> -->
                
                <div class="spacer-big"></div>
                
                <div class="wrapper-small">
                <h5>Foreigner Registration</h5>

                                    
                    <ul>
                    <li>Foreigner Registration is compulsory for all foreigners arriving in India on a visa for period exceed 6 months. There is no fee for registration, however, USD 30 is charged for overstay/late registration.</li>
<li>Registration must be done within 14 days of first arrival at the nearest Foreigner’s Registration Office (Host LC will help with this). Certificates for the same will be issued by the Office.</li>
</li>Foreigners coming from or through yellow fever countries must come with a valid vaccination certificate.</ul>
 </ul>
                
                </div> <!-- END .wrapper-small -->
                
                <div class="spacer-big"></div>
                

                
                <div class="wrapper-small">
                
                    <h5 class="uppercase">For more information</h5>
                    
                    <p>For more information:
                    <ul>
<li>Visit : http://boi.gov.in/</li>
<li>Visit : https://indianvisaonline.gov.in/visa/</li>
</ul></p>
                
                </div> <!-- END .wrapper-small -->
            
 	</section>
	<!-- PAGEBODY -->
    
          
   {% endblock %}